@import url("https://fonts.cdnfonts.com/css/ocr-a-extended");
@import url("https://fonts.cdnfonts.com/css/tw-cen-mt");

* {
  font-family: "Tw Cen MT", sans-serif;
}

/* p {
  width: 50px;
  height: 10px;
} */
.logo {
  color: #707070;
  font-size: 50px;
  font-family: "OCR A Extended", sans-serif;
}

.nav-link {
  color: #000000;
  font-size: 35px;
}

.btn {
  width: 250px;
  background-color: #e6ff00;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  border-radius: 150px;
}
